<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Lazy Type</title>
	<link rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css">
	<link rel="stylesheet" href="../static/css/font.css">
	<link rel="stylesheet" href="../static/css/style.css">

</head>
<body>


		<div class="container">
		  <br><br>
		  <h1 class="header center orange-text">Lazy Type</h1>
		  <div class="row center">
				<h5 class="header col s12 light">Save Time on typing commands using your custom made aliases</h5>
		  </div>
		  <div class="row center">
				<h5 class="header col s12 light">Work Effciently , Work Faster.</h5>
			</div>
		  <br><br>
		</div>	
	
	  <div class="container">

				<div class="row center">

					<!-- Display card -->
					<div class="col s12">
							<div class="card">
								<div class="card-content">
									<span class="card-title">
											<div class="row">
												<form action="" class="col s12">

														<div class="input-field col s4">
															<input disabled value="dir /b" placeholder="Original Command"  type="text" class="validate original_cmd" >
														</div>

														<div class= "file-field input-field col s2  hide" >
																<div class="btn">
																		<span>Choose File</span>
																		<input type="file" class="filebtn">
																</div>
														</div>
														<div class="input-field col s1 center">
																<i class=" medium material-icons" id="arrow">arrow_forward</i>
														</div>
														<div class="input-field col s4">
																<input disabled value="ls" placeholder="Shortcut Command"  type="text" class="validate shortcut_cmd" >
														</div>
														<div class="input-field col s1 center hide submit">
																<i class="material-icons submit-icon" onclick="submitContents(1)">send</i>
															</div>
															<div class="input-field col s1 right delete ">
																<i class="material-icons delete-icon" onclick="deleteContents(1)">delete</i>
															</div>
															<div class="input-field col right center edit">
																	<i class="material-icons edit-icon" onclick="editContents(1)">edit</i>
															</div>																	
												</form>
											</div>		
									</span>
								</div>
							</div>
					</div> 
					
					<!-- Add card -->
					<div class="col s12">
							<div class="card">
								<div class="card-content">
									<span class="card-title">
											<div class="row">
												<form action="" class="col s12">

														<div class="input-field col s4">
															<input  placeholder="Original Command"  type="text" class="validate original_cmd" >
														</div>

														<div class= "file-field input-field col s2 ">
																<div class="btn">
																		<span>Choose File</span>
																		<input type="file" class="filebtn">
																</div>
														</div>
														<div class="input-field col s1 center">
																<i class=" medium material-icons" id="arrow">arrow_forward</i>
														</div>
														<div class="input-field col s4">
																<input placeholder="Shortcut Command"  type="text" class="validate shortcut_cmd" >
														</div>
														<div class="input-field col s1 center submit">
															<i class="material-icons submit-icon" onclick="submitContents(2)">send</i>
														</div>
														<div class="input-field col s1 right delete hide">
															<i class="material-icons delete-icon" onclick="deleteContents(2)">delete</i>
														</div>
														<div class="input-field col right center edit hide">
																<i class="material-icons edit-icon" onclick="editContents(2)">edit</i>
														</div>																	
												</form>
											</div>		
									</span>
								</div>
							</div>
					</div>
				
				</div>
		</div>
		
	<script type="text/javascript">
		window.$ = window.jQuery = require('jquery');
		var electron = require('electron');
		var {ipcRenderer} = electron;
	</script>
	<script src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>	
	<script src="../static/js/script.js"></script>
</body>
</html>

