<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Lazy Type</title>
	<link rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css">
	<link rel="stylesheet" href="../static/css/font.css">
	<link rel="stylesheet" href="../static/css/style.css">

</head>
<body>


		<div class="container">
		  <br><br>
		  <h1 class="header center orange-text">Lazy Type</h1>
		  <div class="row center">
				<h5 class="header col s12 light">Save Time on typing commands using your custom made aliases</h5>
		  </div>
		  <div class="row center">
				<h5 class="header col s12 light">Work Effciently , Work Faster.</h5>
			</div>
		  <br><br>
		</div>	
	
	  <div class="container">

				<div class="row center">
			
					<!-- <div class="col s12">
							<div class="card">
								<div class="card-content">
									<span class="card-title">Card Title</span>
									<p>I am a very simple card. I am good at containing small bits of information.
									I am convenient because I require little markup to use effectively.</p>
								</div>
							</div>
					</div> -->
					
					<!-- <div class="col s12">
							<div class="card">
								<div class="card-content">
									<span class="card-title">
											<div class="row">
													<form action="" class="col s12">
															<div class="input-field col s6">
																<input placeholder="Original Command" id="original_cmd" type="text" class="validate">
															</div>
															 <div class="file-field input-field col s12">
																	<div class="btn">
																		<span>File</span>
																		<input type="file">
																	</div>
																	<div class="file-path-wrapper">
																		<input class="file-path " type="text">
																	</div>
																</div>
															<div class="input-field col s6">
																<input placeholder="Shortcut Command" id="shortcut_cmd" type="text" class="validate">
															</div>
															<button class="btn waves-effect waves-light right" type="submit" id="sub" name="action">Create Shortcut
																	<i class="material-icons right">send</i>
															</button>			
													</form>
												</div>	
									</span>
								</div>
							</div>
					</div> -->

					<div class="col s12">
							<div class="card">
								<div class="card-content">
									<span class="card-title">
											<div class="row">
												<form action="" class="col s12">

														<div class="input-field col s4">
															<input placeholder="Original Command" id="original_cmd" type="text" class="validate">
														</div>

														<div class= "file-field input-field col s2">
																<div class="btn">
																		<span>Choose File</span>
																		<input type="file">
																</div>
														</div>
														<div class="input-field col s1 center">
																<i class=" medium material-icons" id="arrow">arrow_forward</i>
														</div>
														<div class="input-field col s4">
																<input placeholder="Shortcut Command" id="shortcut_cmd" type="text" class="validate">
														</div>
														<div class="input-field col s1 center">
															<i class="material-icons" id="submit-icon">send</i>
														</div>																	
												</form>
											</div>		
									</span>
								</div>
							</div>
					</div> 
			
					<div class="col s12">
							<div class="card">
								<div class="card-content">
									<span class="card-title">
											<div class="row">
												<form action="" class="col s12">

														<div class="input-field col s4">
															<input placeholder="Original Command" id="original_cmd" type="text" class="validate">
														</div>

														<div class= "file-field input-field col s2">
																<div class="btn">
																		<span>Choose File</span>
																		<input type="file">
																</div>
														</div>
														<div class="input-field col s1 center">
																<i class=" medium material-icons" id="arrow">arrow_forward</i>
														</div>
														<div class="input-field col s4">
																<input placeholder="Shortcut Command" id="shortcut_cmd" type="text" class="validate">
														</div>
														<div class="input-field col s1 center">
															<i class="material-icons" id="submit-icon">send</i>
														</div>																	
												</form>
											</div>		
									</span>
								</div>
							</div>
					</div>
				
				</div>
		</div>
		
	<script type="text/javascript">
		window.$ = window.jQuery = require('jquery');
		var electron = require('electron');
		var {ipcRenderer} = electron;
		console.log($);
	</script>
	<script type="javascript" href="../node_modules/materialize-css/dist/js/materialize.min.js"></script>	
	<script>
		
	</script>
</body>
</html>

