@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../font/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.header{
  margin-top:0;
}
.card{
  border-bottom: 2px solid #ff9800;
  text-align:left;
  margin-bottom:4%;
}
input{
font-size: 24px !important;
font-weight:300 !important; 
}

input::placeholder {
color: rgba(0,0,0,0.87);
  font-size: 24px;
font-weight: 300;
}
.input-field input[type=text]:focus {
   border-bottom: 1px solid #ff9800 !important;
   box-shadow: 0 1px 0 0 #ff9800 !important;
}
input[type="text"][disabled] {
 color: rgba(0,0,0,0.87) !important;
  font-size: 24px !important;
font-weight: 300 !important;
}
#sub, #sub:hover,#sub:active{
background-color:#10b362;
}
#arrow{
  color: #ff9800;
  font-size:43px;
}
.file-field .btn{
width:100%;
font-size:20px;
text-transform:inherit;
background-color:#5a5a5a;
}
.delete-icon,.edit-icon,.submit-icon{
font-size:35px;
margin-top:10%;
cursor:pointer;
display: inline-block;
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: transform;
transition-property: transform;
}
.submit-icon{
color:#2dbe33;
}
.delete-icon{
color:#ff2d2de6;
}
.edit-icon{
color:#26a69a;
}
.edit-icon:hover,.delete-icon:hover,.submit-icon:hover{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.hide{
  display: none;
  transition:all 10s ease !important;
}
#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 5%;
  left:5%;  
}
.fixed-action-btn{
  top:10%;
  right:3%;
  position:fixed;
}
#card-body,.container{
  transition:all 1s ease !important;  
}
.card{
  transition:all .3s ease;
  }
.card:hover{
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.6);
}
.titlebar.light .window-controls-container .window-icon {
    background-color: #333333;
}
.window-title{
  color:White;
  text-transform:uppercase;
  font-weight:bold;
  letter-spacing:2px;
  padding-left:1%;
}
.material-tooltip{
  background-color:#ff9800;
}

.container-after-titlebar{
  overflow: scroll !important;
}


